/*
toclose 
loading
geolocationdiv
signup

*/

.anderhalf {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 72, 0);
  font-size: 8cm;
}
.awesome {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
}
.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
}
.home {
  background-color: bisque;
}
.hometitle {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 2cm;
}
.instruction {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.introduction {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 72, 0);
  margin-right: 250px;
  margin-left: 250px;
}
.link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logindiv {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
}
.logout {
  display: flex;
  justify-content: center;
  align-items: center;
}
.map {
  border-style: dotted;
  border-color: rgb(255, 255, 255);
  border-width: 1cm;
}
.name {
  color: rgb(8, 0, 85);
}

.position {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
}
.signupdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
}
.start {
  background-color: bisque;
}

.starttitle {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 2cm;
}
.user {
  color: rgb(255, 255, 255);
  margin-left: 300px;
  margin-right: 50px;
}
.usermain {
  display: flex;
  justify-content: center;
  align-items: center;
}
.userId {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
}
.usertitle {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 2cm;
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
}
.warnings {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(8, 0, 85);
}
.warningdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(8, 0, 85);
}
.warningsList {
  color: red;
}
.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
}
