/*
home
hometitle
awesome
warningdiv
toclose
map 
loading
button
instruction
geolocationdiv
<div style="display:flex;justify-content:center;align-items:center;">Text Content</div>

*/
.homemain {
  background-color: bisque;
}
.home {
  background-color: bisque;
}
.hometitle {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 2cm;
}
.map {
  border-style: dotted;
  border-color: rgb(255, 255, 255);
  border-width: 1cm;
}
.instruction {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.userId {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.awesome {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
}
.warningdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
}

.position {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
}
