/*
toclose 
loading
geolocationdiv
signup

*/
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.warnings {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(8, 0, 85);
}
.logout {
  display: flex;
  justify-content: center;
  align-items: center;
}
.warningsList {
  color: red;
}
.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
}
.name {
  color: rgb(8, 0, 85);
}
.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
}
.usermain {
  display: flex;
  justify-content: center;
  align-items: center;
}
.user {
  color: rgb(255, 255, 255);
}
.usertitle {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 2cm;
}
.link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.whitebar {
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-width: 1cm;
  color: rgb(255, 255, 255);
}
.introduction {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
}
.logindiv {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
}
.signupdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
}
.start {
  background-color: bisque;
}
.starttitle {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 2cm;
}
.home {
  background-color: bisque;
}
.hometitle {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 2cm;
}
.map {
  border-style: dotted;
  border-color: rgb(255, 255, 255);
  border-width: 1cm;
}
.instruction {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.userId {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.awesome {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
}
.warningdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(8, 0, 85);
}

.position {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
}
